:root {
    --bg: rgb(51, 53, 61);
    --second: rgb(95, 97, 104);
    --third: rgb(66, 68, 74);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-family: Verdana, sans-serif;
}

button {
    background-color: transparent;
    border: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.todos-container {
    display: flex;
    justify-content: start;
    height: calc(100vh - 100px);
    z-index: 100;
    color: white;
    margin: 0.5rem;
    border-radius: 1rem;
    width: 100%;
}

.todo-list {
    display: flex;
    justify-content: space-around;
    height: calc(100vh - 100px);
    background-color: var(--second);
    z-index: 100;
    color: white;
    border-radius: 2.5rem;
    width: 100%;
}

.content {
    overflow-y: auto;
    scrollbar-width: thin;
    padding: 1rem;
    display: flex;
    margin: 0.5rem;
    border-radius: 2rem;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}


.add-todo-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.todo-element {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: ease-in-out 0.15s;
    align-items: center;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--third);
}

.todo-infos {
    display: flex;
    flex-direction: column;
}

.todo-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.del-todo {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 1rem;
    border-radius: 1rem;
}

.del-todo:hover{
    background-color: rgba(0,0,0, .1);
}

.see-todo {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 1rem;
    border-radius: 1rem;
}

.see-todo:hover{
    background-color: rgba(0,0,0, .1);
}

.selected-todo {
    background-color: rgba(0,0,0, .5);
}

#preview {
    transition: ease-in-out 0.15s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
    height: calc(100vh - 100px);
    z-index: 100;
    color: white;
    margin: 0.5rem;
    background-color: var(--second);
    border-radius: 2.5rem;
}

.preview-content {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 100%;
    margin: 1rem;
    color: white;
    word-break: break-all;
    overflow-wrap: break-word;
}

.preview-title {
    height: 10%;
    width: 100%;
    background: transparent;
    border: none;
}

.preview-description {
    height: 90%;
    text-justify: auto;
    overflow: auto;
    width: 100%;
    background: transparent;
    border: none;
}

@media screen and (max-width: 700px) {
    #todos {
        display: flex;
        flex-direction: column;
    }

    .todos-container {
        width: 90%;
        height: fit-content;
    }

    .todo-list {
        height: fit-content;
    }

    #preview {
        width: 90%;
    }
}