* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#todos {

}

.todos-container {
    display: flex;
    justify-content: start;
    height: calc(100vh - 100px);
    z-index: 100;
    color: white;
    margin: 0.5rem;
    border-radius: 1rem;
    width: 100%;
}

.todo-list {
    display: flex;
    justify-content: space-around;
    height: calc(100vh - 100px);
    background-color: rgba(0,0,0, .5);
    z-index: 100;
    color: white;
    border-radius: 2.5rem;
    width: 100%;
}

.content {
    overflow-y: auto;
    scrollbar-width: thin;
    padding: 1rem;
    display: flex;
    margin: 0.5rem;
    border-radius: 2rem;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}


.add-todo-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.todo-element {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: rgba(0,0,0, .1);
}

.todo-infos {
    display: flex;
    flex-direction: column;
}

.todo-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.del-todo {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 1rem;
    border-radius: 1rem;
}

.del-todo:hover{
    background-color: rgba(0,0,0, .1);
}

.see-todo {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 1rem;
    border-radius: 1rem;
}

.see-todo:hover{
    background-color: rgba(0,0,0, .1);
}

.selected-todo {
    background-color: rgba(0,0,0, .2);
}

#preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: calc(100vh - 100px);
    z-index: 100;
    color: white;
    margin: 0.5rem;
    background-color: rgba(0,0,0, .5);
    border-radius: 2.5rem;
}