@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --gray: rgb(234, 232, 228, 0.08);
    --prim: rgb(203, 195, 179, 0.2);
    --text: rgb(234, 232, 228);
    --background: rgb(18, 16, 13);
    --primary: rgb(203, 195, 179);
    --secondary: rgb(96, 84, 62);
    --accent: rgb(175, 158, 125);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Nunito, sans-serif;
    color: var(--text);
}

button {
    background-color: transparent;
    border: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input:focus, textarea:focus {
    border: none;
    outline: none;
}

textarea {
    resize: none;
}

.notes-container {
    display: flex;
    justify-content: start;
    height: calc(100vh - 100px);
    z-index: 100;
    color: white;
    margin: 0.5rem;
    border-radius: 1rem;
    width: 100%;
}

.note-list {
    display: flex;
    justify-content: space-around;
    height: calc(100vh - 100px);
    background-color: var(--gray);
    z-index: 100;
    color: white;
    border-radius: 2.5rem;
    width: 100%;
}

.content {
    overflow-y: auto;
    scrollbar-width: thin;
    padding: 1rem;
    display: flex;
    margin: 0.5rem;
    border-radius: 2rem;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}


.add-note-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.note-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: ease-in-out 0.15s;
    align-items: center;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--background);
}

.note-element:hover {
    background-color: var(--prim);
}

.note-infos {
    display: flex;
    flex-direction: column;
}

.note-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.del-note {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 1rem;
    border-radius: 1rem;
}

.del-note:hover{
    background-color: rgba(0,0,0, .1);
}

.addnote{
    transition: ease-in-out 0.15s;
    padding: 0.6rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: var(--background);
}

.addnote:hover {
    border: 1px solid var(--secondary);
}

.see-note {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 1rem;
    border-radius: 1rem;
}

.see-note:hover{
    background-color: rgba(0,0,0, .1);
}

.selected-note, .selected-note:hover {
    background-color: var(--primary);
}

.selected-note .note-infos *, .selected-note .note-actions * {
    color: black;
}

#preview {
    transition: ease-in-out 0.15s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
    height: calc(100vh - 100px);
    z-index: 100;
    color: white;
    margin: 0.5rem;
    background-color: var(--gray);
    border-radius: 2.5rem;
}

#previewform {
    transition: ease-in-out 0.15s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
    z-index: 100;
    margin: 0.5rem;
    border-radius: 2.5rem;
}

.preview-content {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 100%;
    margin: 2rem;
    color: white;
    word-break: break-all;
    overflow-wrap: break-word;
}

.preview-title {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 3rem;
    height: 10%;
    width: 100%;
    background: transparent;
    border: none;
}

.preview-description {
    scrollbar-width: thin;
    font-size: 1.1rem;
    margin: 1rem 2rem 1rem 2rem;
    height: 90%;
    text-justify: auto;
    overflow: auto;
    width: 100%;
    background: transparent;
    border: none;
}

@media screen and (max-width: 700px) {
    #notes {
        display: flex;
        flex-direction: column;
    }

    .notes-container {
        width: 90%;
        height: fit-content;
    }

    .note-list {
        height: fit-content;
    }

    #preview {
        width: 90%;
    }
}

.login-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.login-content form {
    background-color: var(--gray);
    padding: 3rem;
    border-radius: 1.5rem;
    border: 1px solid var(--secondary);
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-content input {
    padding: 1rem;
    border-radius: 5rem;
    border: 4px solid transparent;
    color: black;
}

.login-content input:focus {
    border: 4px solid var(--primary);
}

.login-content button {
    transition: ease-in-out 0.2s;
    padding: 1rem;
    border-radius: 4rem;
    cursor: pointer;
    background-color: var(--secondary);
    font-weight: bold;
}

.login-content button:hover {
    background-color: var(--accent);
    color: black;
}

.hidden * {
    display: none;
}